<md-card>
  <div *ngFor="let tripField of tripFields">
    <md-input-container *ngIf="!tripField.readOnly && (tripField.type === 'string' || tripField.type === 'field' || tripField.type === 'float')">
      <input mdInput placeholder="{{tripField.label}}" [(ngModel)]="tripField.value">
    </md-input-container>
    <md-checkbox  *ngIf="!tripField.readOnly && tripField.type === 'boolean'" value="true">{{tripField.label}}</md-checkbox>
  </div>
  <button md-button (click)="saveTrip()">Save</button>
</md-card>