@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

.mat-sidenav-content, .mat-sidenav-container {
    height: 100%;
}

.nav-buttons button {
    margin-right: 0.2rem;
}
.mat-toolbar {
    padding: 0 8px;
}
.mat-toolbar-row {
    height: 48px;
}