<md-card>
  <div *ngFor="let boatField of boatFields">
    <md-input-container *ngIf="!boatField.readOnly && (boatField.type === 'string' || boatField.type === 'field' || boatField.type === 'float')">
      <input mdInput placeholder="{{boatField.label}}" [(ngModel)]="boatField.value">
    </md-input-container>
    <div>{{boatField.label}}: {{boatField.value}}{{boatField.type}}</div>
    <md-checkbox  *ngIf="!boatField.readOnly && boatField.type === 'boolean'" value="true">{{boatField.label}}</md-checkbox>
  </div>
  <button md-button (click)="saveVessel()">Save</button>
</md-card>